{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}

<h1 class="text-center mb-4 " style="font-family:verdana;"><b>CubeXS Departments</b></h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color:hsl(0, 100%, 33%);">
        <h4 class="my-0 fw-normal text-white"><b>IP and Core Networking</b></h4>
        
      </div>
      <div class="card-body">
        <h5 class="my-0 fw-normal">International Client Complaints</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title text-white"><small class="text-muted fw-dark text-white"><b>Total Complaints</b> </small></h1></li>
          
        </ul>
        <a href="/employeesicc" type="button" class="w-100 btn btn-lg btn-light text-white" style="background-color:hsl(0, 100%, 33%);">VIEW DETAILS</a>
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color:hsl(240, 100%, 50%);">
        <h4 class="my-0 fw-normal text-white"><b>IP and Core Networking</b></h4>
        
      </div>
      <div class="card-body">
        <h5 class="my-0 fw-normal ">Network Complaints & Deployments</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title"><small class="text-muted fw-dark"><b>Total Complaints</b></small></h1></li>
          
        </ul>
        <a href="/employeesncd" type="button" class="w-100 btn btn-lg btn-light text-white" style="background-color:hsl(240, 100%, 50%);">VIEW DETAILS</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color:Orange;">
        <h4 class="my-0 fw-normal text-white"><b>System/Email/Mores</b></h4>
        
      </div>
      <div class="card-body">
        <h5 class="my-0 fw-normal">System/Email/App Hosting/Web Hosting</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title"><small class="text-muted fw-dark"><b>Total Complaints</b></small></h1></li>
          
        </ul>
        <a href="/employeessea" type="button" class="w-100 btn btn-lg btn-light text-white" style="background-color:Orange;">VIEW DETAILS</a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color:hsl(125, 62%, 38%);">
        <h4 class="my-0 fw-normal text-white" ><b>Cloud Complaints</b></h4>
        
      </div>
      <div class="card-body">
        <h5 class="my-0 fw-normal mb-2 py-3 ">Cloud Complaints</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title"><small class="text-muted fw-dark"><b>Total Complaints</b></small></h1></li>
          
        </ul>
        <a href="/employeescc" type="button" class="w-100 btn btn-lg  text-white" style="background-color:hsl(125, 62%, 38%);">VIEW DETAILS</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 " style="background-color:hsla(0, 100%, 0%, 0.8);">
        <h4 class="my-0 fw-small text-white" ><b>Activation & More</b></h4>
        
      </div>
      <div class="card-body" >
        <h5 class="my-0 fw-normal">Activation & Configuration-Sonic Fiber/GPON Customer</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title"><small class="text-muted fw-dark"><b>Total Complaints</b></small></h1></li>
          
        </ul>
        <a href="/employeesacs" type="button" class="w-100 btn btn-lg  text-white" style="background-color:hsla(0, 100%, 0%, 0.8);" >VIEW DETAILS</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color:Tomato;">
        <h4 class="my-0 fw-normal text-white"><b>Solution/Quotation</b></h4>
        
      </div>
      <div class="card-body">
        <h5 class="my-0 fw-normal">Solution/Quotation-IBU & Corporate Customers</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h1 class="card-title pricing-card-title"><small class="text-muted fw-dark"><b>Total Complaints</b></small></h1></li>
          
        </ul>
        <a href="/employeessq" type="button" class="w-100 btn btn-lg text-white" style="background-color:Tomato;">VIEW DETAILS</a>
      </div>
    </div>
  </div>
</div>



{% endblock body %}