{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}




<div class="container text-center py-1">
    <h1 class="mb-4" style="font-family:verdana;"><b>CubeXS</b></h1>
<a href="/" class="text-white " style="font-family:verdana;"><button type="button" class="btn btn-primary btn-sq-responsive " style="font-size:18px" ><span class="fa fa-home mr-3"></span>DASHBOARD
  
  
</button></a>
<style>
    @media (max-width:3920px) {
        .btn-sq-responsive {
        width: 200px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 200px !important;
        font-size:24px;
        }
        }
        
        /* Style for Large Screen */
        @media (max-width:991px) {
        .btn-sq-responsive {
        width: 150px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 150px !important;
        font-size:18px;
        }
        }
        
        /* Style for Medium Screen */
        @media (max-width:767px) {
        .btn-sq-responsive {
        width: 100px !important; /* whatever width you want for medium screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important; /* whatever height you want for medium screen */
        font-size:12px;
        }
        }
        
        /* Style for Small Screen */
        @media (max-width:575px) {
        .btn-sq-responsive {
        width: 50px !important; /* whatever width you want for mobile screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 50px !important; /* whatever height you want for mobile screen */
        font-size:5px;
        padding: 0px;
        font-size:7px;
        }
        }


</style>

<a  href="/bossportal" class="text-white" style="font-family:verdana;"><button type="button" class="btn btn-danger btn-sq-responsive" style="font-size:18px"><span class="fa fa-briefcase mr-3"></span>DEPARTMENTS</button></a>
<style>
    @media (max-width:3920px) {
        .btn-sq-responsive {
        width: 200px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 200px !important;
        font-size:24px;
        }
        }
        
        /* Style for Large Screen */
        @media (max-width:991px) {
        .btn-sq-responsive {
        width: 150px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 150px !important;
        font-size:18px;
        }
        }
        
        /* Style for Medium Screen */
        @media (max-width:767px) {
        .btn-sq-responsive {
        width: 100px !important; /* whatever width you want for medium screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important; /* whatever height you want for medium screen */
        font-size:12px;
        }
        }
        
        /* Style for Small Screen */
        @media (max-width:575px) {
        .btn-sq-responsive {
        width: 50px !important; /* whatever width you want for mobile screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 50px !important; /* whatever height you want for mobile screen */
        font-size:5px;
        padding: 0px;
        font-size:7px;
        }
        }


</style>

<a href="/login" class="text-white" style="font-family:verdana;"><button type="button" class="btn btn-info btn-sq-responsive" style="font-size:18px" ><span class="fa fa-sticky-note mr-3"></span>USERS</button></a>
<style>
    @media (max-width:3920px) {
        .btn-sq-responsive {
        width: 200px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 200px !important;
        font-size:24px;
        }
        }
        
        /* Style for Large Screen */
        @media (max-width:991px) {
        .btn-sq-responsive {
        width: 150px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 150px !important;
        font-size:18px;
        }
        }
        
        /* Style for Medium Screen */
        @media (max-width:767px) {
        .btn-sq-responsive {
        width: 100px !important; /* whatever width you want for medium screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important; /* whatever height you want for medium screen */
        font-size:12px;
        }
        }
        
        /* Style for Small Screen */
        @media (max-width:575px) {
        .btn-sq-responsive {
        width: 50px !important; /* whatever width you want for mobile screen */
        max-width: 100% !important;
        max-height: 100% !important;
        height: 50px !important; /* whatever height you want for mobile screen */
        font-size:5px;
        padding: 0px;
        font-size:7px;
        }
        }


</style>
</div>

<div class="container text-center ">
  <a href="#" class="text-white" style="font-family:verdana;"><button type="button" class="btn btn-success btn-sq-responsive " style="font-size:18px"><span class="fa fa-paper-plane mr-3"></span>CONTACT US

</button></a>
<style>
  @media (max-width:3920px) {
      .btn-sq-responsive {
      width: 200px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 200px !important;
      font-size:24px;
      }
      }
      
      /* Style for Large Screen */
      @media (max-width:991px) {
      .btn-sq-responsive {
      width: 150px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 150px !important;
      font-size:18px;
      }
      }
      
      /* Style for Medium Screen */
      @media (max-width:767px) {
      .btn-sq-responsive {
      width: 100px !important; /* whatever width you want for medium screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 100px !important; /* whatever height you want for medium screen */
      font-size:12px;
      }
      }
      
      /* Style for Small Screen */
      @media (max-width:575px) {
      .btn-sq-responsive {
      width: 50px !important; /* whatever width you want for mobile screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 50px !important; /* whatever height you want for mobile screen */
      font-size:5px;
      padding: 0px;
      font-size:7px;
      }
      }


</style>

<a href="#" class="text-white" style="font-family:verdana;"><button type="button" class="btn btn-dark btn-sq-responsive" style="font-size:18px">FRESH JOINING ENGINEER</button></a>
<style>
  @media (max-width:3920px) {
      .btn-sq-responsive {
      width: 200px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 200px !important;
      font-size:24px;
      }
      }
      
      /* Style for Large Screen */
      @media (max-width:991px) {
      .btn-sq-responsive {
      width: 150px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 150px !important;
      font-size:18px;
      }
      }
      
      /* Style for Medium Screen */
      @media (max-width:767px) {
      .btn-sq-responsive {
      width: 100px !important; /* whatever width you want for medium screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 100px !important; /* whatever height you want for medium screen */
      font-size:12px;
      }
      }
      
      /* Style for Small Screen */
      @media (max-width:575px) {
      .btn-sq-responsive {
      width: 50px !important; /* whatever width you want for mobile screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 50px !important; /* whatever height you want for mobile screen */
      font-size:5px;
      padding: 0px;
      font-size:7px;
      }
      }


</style>

<a href="#" class="text-white" style="font-family:verdana;"><button type="button" class="btn btn-warning btn-sq-responsive text-white" style="font-size:18px">Soon</button></a>
<style>
  @media (max-width:3920px) {
      .btn-sq-responsive {
      width: 200px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 200px !important;
      font-size:24px;
      }
      }
      
      /* Style for Large Screen */
      @media (max-width:991px) {
      .btn-sq-responsive {
      width: 150px !important;
      max-width: 100% !important;
      max-height: 100% !important;
      height: 150px !important;
      font-size:18px;
      }
      }
      
      /* Style for Medium Screen */
      @media (max-width:767px) {
      .btn-sq-responsive {
      width: 100px !important; /* whatever width you want for medium screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 100px !important; /* whatever height you want for medium screen */
      font-size:12px;
      }
      }
      
      /* Style for Small Screen */
      @media (max-width:575px) {
      .btn-sq-responsive {
      width: 50px !important; /* whatever width you want for mobile screen */
      max-width: 100% !important;
      max-height: 100% !important;
      height: 50px !important; /* whatever height you want for mobile screen */
      font-size:5px;
      padding: 0px;
      font-size:7px;
      }
      }


</style>
</div>





{% endblock body %}