{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}



<div class="text-center mb-4">
    <h1 style="font-family:verdana;" class="mb-4"><b>Department of IP and Core Network</b></h1>
    <h3 style="font-family:verdana;" class="mb-4">International Clients Complaints</h3>
   
   


</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th >Token ID</th>
      <th >Client Name</th>
      <th >Type of Complaint</th>
      <th >Complaint Level</th>
      <th>Status</th>
      <th>Date</th>
      
    </tr>
  </thead>
  <tbody>
    {% for Icccomplaints in icc %}
    <tr>
      <td>{{Icccomplaints.tokenid}}</td>
      <td>{{Icccomplaints.clientname}}</td>
      <td>{{Icccomplaints.typeofcomplaint}}</td>
      <td>{{Icccomplaints.complaintlevel}}</td>
      <td>{{Icccomplaints.status}}</td>
      <td>{{Icccomplaints.date}}</td>
      <td><form name= "Deleteform" action = "" method= "">
        {% csrf_token %}
        <a  href = "employeesicc/{{Icccomplaints.tokenid}}" button type="button" class= "btn btn-sm text-white" style="background-color:hsla(0, 100%, 0%, 0.8);">Delete</a>
    </form>
</td>
    </tr>
    {% endfor %}
    
  </tbody>



</table>











{% endblock body %}