{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}



<div class="text-center mb-4">
    <h1 style="font-family:verdana;" class="mb-4"><b>Department of IP and Core Network</b></h1>
    <h3 style="font-family:verdana;" class="mb-4">Network Complaints & Deployments (Corporate/Local Customers-including IP and P2P)</h3>
   
   


</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th >Token ID</th>
      <th scope="col">Client Name</th>
      <th scope="col">Type of Complaint</th>
      <th scope="col">Complaint Level</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      
    </tr>
  </thead>
  <tbody>
     {% for Ncdcomplaints in ncdrecord %}
    <tr>
      <td>{{Ncdcomplaints.tokenid}}</td>
      <td>{{Ncdcomplaints.clientname}}</td>
      <td>{{Ncdcomplaints.typeofcomplaint}}</td>
      <td>{{Ncdcomplaints.complaintlevel}}</td>
      <td>{{Ncdcomplaints.status}}</td>
      <td>{{Ncdcomplaints.date}}</td>
      <td><form name= "Deleteform" action = "" method= "">
        {% csrf_token %}
        <a  href = "employeesncd/{{Ncdcomplaints.tokenid}}" button type="button" class= "btn btn-sm text-white" style="background-color:hsla(0, 100%, 0%, 0.8);">Delete</a>
    </form>
</td>
    </tr>
    {% endfor %}
    
  </tbody>



</table>











{% endblock body %}