{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}
<div class="text-right mb-4">
  {% if user.is_authenticated %}
  
<a href="/logout" type="button" class="btn btn-light btn-sm" style="font-family:verdana;">Mr {{request.user}}</a>
{% endif %}
<h1 class="text-center" style="font-family:verdana;"><b>Department of System/Email/App Hosting/Web Hosting</b></h1>





<table class="table table-striped ">
    <thead>
      <tr>
        <th>Token ID</th>
        <th scope="col">Client Name</th>
        <th scope="col">Type of Complaint</th>
        <th scope="col">Complaint Level</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        
      </tr>
    </thead>
    <tbody>
       {% for Seacomplaints in seacomplaintrecord %}
      <tr>
        <td>{{Seacomplaints.tokenid}}</td>
        <td>{{Seacomplaints.clientname}}</td>
        <td>{{Seacomplaints.typeofcomplaint}}</td>
        <td>{{Seacomplaints.complaintlevel}}</td>
        <td>{{Seacomplaints.status}}</td>
        <td>{{Seacomplaints.date}}</td>
      </tr>
      {% endfor %}
      
    </tbody>

  

  </table>












{% endblock body %}